

body {
    max-width: 1500px;
    text-align: center;
    margin: 50px auto;
    background-color: ghostwhite;
}

header {
    max-width: 1500px;
    text-align: center;
    margin: 50px auto;
    background-color: darkgrey;
    border: 5px solid black;
    padding: 15px;
}

nav a {
    background-color: darkgrey;
    color: black;
    font-size: 25px;
}

nav a:hover {
    background-color: darkgrey;
    color: aliceblue;
}