/*css for index.html on the DryOar homepage.*/

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*
Color palette

primary-color: #3f78a2 (darker Blue)
secondary-color: #8CCBE6 (light Blue)
accent1-color: #9B5B12 (shade of Brown)
accent2-color: #F1F5F9 (tinted White)
*/


/* Id selectors */

#background {
    height: 725px;
    background-color: #8CCBE6;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

/* Class selectors*/

.book,
.join {
    background-color: #3f78a2;
    color: #F1F5F9;
    text-decoration: none;
}

.book:hover,
.join:hover {
    background-color: #9B5B12;
    color: #F1F5F9;
}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;
}

.home-title {
    color: #F1F5F9;
}

.logo {
    width: 80px;
}

.msg {
    background-color: #3f78a2;
}

.msg h2,
.msg p {
    color: #F1F5F9;
}

/* Non-targeted element selectors */

body {
    background-color: #F1F5F9;
}

footer {
    background-color: #3f78a2;
}

footer a {
    color: #F1F5F9;
    text-decoration: none;
}

footer a:hover {
    color: #9B5B12;
}

footer h3 {
    color: #F1F5F9;
}

footer h3 a:hover {
    text-decoration: underline;
}

header {
    background-color: #3f78a2;
}

h4 {
    color: #8CCBE6;
}

main section {
    text-align: center;
}

nav a {
    text-align: center;
    color: #F1F5F9;
    text-decoration: none;
}

nav a:hover {
    background-color: #9B5B12;
    color: #F1F5F9;
}